.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
}
